<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.routon.edurelease"
    android:versionCode="23"
    android:versionName="1.2.3" >

    <uses-sdk
        android:minSdkVersion="16"

        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ETIMEDOUT" />

    <application
        android:name="com.routon.smartcampus.SmartCampusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.routon.smartcampus.MyLoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>      
        </activity>
        <activity
            android:name="com.routon.smartcampus.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        
        
        <activity
            android:name="com.routon.smartcampus.ParentAppActivity"
            android:screenOrientation="portrait">         
        </activity>
        <activity
            android:name="com.routon.smartcampus.guide.GuideActivity">  
          
        </activity>
        <activity
            android:name="com.routon.inforelease.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name="com.routon.smartcampus.studentcard.CardManageActivity" >
        </activity>
        
        <activity
            android:name="com.routon.smartcampus.family.ColligateOpinionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.user.ParentRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.user.PhoneAndVertifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.user.ChildListActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.routon.smartcampus.message.MessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.leave.LeaveActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="com.routon.smartcampus.leave.FamilyLeaveActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="com.routon.smartcampus.leave.StudentLeaveStatActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.routon.smartcampus.leave.StudentLeaveActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        
        <activity
            android:name="com.routon.smartcampus.user.ChildModifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.attendance.StudentAttendanceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.BadgeSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.StudentBadgeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.NewStudentBadgeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="com.routon.smartcampus.flower.StudentHornorRollForParentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.routon.smartcampus.flower.StudentBadgeDetailListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ang.face.recognizer.FrActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.createcode.CreateQRImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.createcode.ClassListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.coursetable.ClassCourseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.student.StudentListActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.routon.smartcampus.user.TeacherUserAdminActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.routon.smartcampus.user.ParentUserAdminActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.student.StudentCaptureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.student.ExchangePrizeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.TerminalDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.groupmanager.GroupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.usercontrol.UserListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.UserAdminActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.PlanListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.ContractNameEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.ImageAttributeSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.TextAttributeSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.TimeSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.MaterialEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.usercontrol.UserEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.groupmanager.GroupTerminalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.groupmanager.TerminalSelActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.remotecontrol.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" />
        <activity
            android:name="com.routon.remotecontrol.BluetoothSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" >
            <intent-filter>
                <action android:name="com.routon.intent.action.keyboard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.PlanPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.plan.create.CreateProgramActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.create.TextInfoAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.plan.create.PictureSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.routon.inforelease.plan.create.OfflinePicSelectActivity" />
        <activity
            android:name="com.routon.inforelease.plan.create.TextSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.plan.create.GroupSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.plan.create.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.plan.create.pictureAdd.PictureAddActivity"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.create.PicPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.smartcampus.gradetrack.SubjectExamActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.plan.create.ClassPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.routon.inforelease.snotice.SNoticeListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.snotice.SNoticeAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.widget.GroupSelActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.classinfo.ClassInfoListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.classinfo.ClassInfoEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.classinfo.ClassPictureEditActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.routon.inforelease.classinfo.ClassInfoGroupSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.offline.AdOfflineReleaseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.offline.DeviceSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.inforelease.ScannerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.remotecontrol.ScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.routon.smartcampus.flower.BadgeRemarkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.RemarkImagePreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.homework.CorrectHomeworkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.homework.FamilyHomeworkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.homework.FamilyHomeworkDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.schoolcompare.SchoolCompareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.schoolcompare.ClassCompareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.routon.smartcampus.schoolcompare.ClassMarkActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
         <activity
            android:name="com.routon.smartcampus.schoolcompare.CompareScoreQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.routon.smartcampus.schoolcompare.HistoryQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.guestbook.GuestbookActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="com.routon.smartcampus.user.ScreenGroupChangeActivity"
            android:screenOrientation="portrait"></activity>
        <activity 
            android:name="com.routon.smartcampus.user.ScreenGroupSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.routon.smartcampus.homework.HomeworkActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.routon.smartcampus.homework.AssignmentActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.routon.smartcampus.homework.ImageBrowerActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.routon.smartcampus.gradetrack.ClassGradesActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.routon.smartcampus.answerrelease.AnswerMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service android:name="com.routon.smartcampus.answerrelease.service.BluetoothService"></service>
        <activity
            android:name="com.routon.smartcampus.gradetrack.RadoRevealActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.gradetrack.HistogramRevealActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.gradetrack.ZigzagRevealActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.routon.smartcampus.attendance.AttenceActivity"  
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.routon.smartcampus.student.ExchangeHistoryActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.routon.smartcampus.homework.HomeworkFeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.routon.smartcampus.homework.HomeworkPicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.routon.smartcampus.attendance.SearchClassAttenceActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.routon.smartcampus.homework.FamilyFeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.BadgeManageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.routon.smartcampus.flower.BadgeAddSelActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.routon.smartcampus.flower.BadgePicEditActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.routon.smartcampus.answerrelease.StartAnswerActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity 
            android:name="com.routon.smartcampus.attendance.ShowClassAbsenceAvtivity"
            android:screenOrientation="portrait">
        </activity>
     <activity
            android:name="com.routon.smartcampus.selectcourse.SelectCourseActivity"
            android:screenOrientation="portrait">
        </activity>
             <activity
            android:name="com.routon.smartcampus.selectcourse.SelectingActivity"
            android:screenOrientation="portrait">

        </activity>

       <activity
            android:name="com.routon.smartcampus.swtchCtrl.SwtchCtrlMainActivity"
            android:screenOrientation="portrait">
        </activity>
        
       
       <activity
            android:name="com.routon.smartcampus.swtchCtrl.SwtchCtrlDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        
       <activity
            android:name="com.routon.smartcampus.flower.BadgeRadarRevealActivity"
            android:screenOrientation="portrait">
        </activity>
        
       <activity 
           android:name="com.routon.smartcampus.leave.FamilyLeaveAddActivity"
           android:screenOrientation="portrait">
       </activity>

         <activity
            android:name="com.routon.smartcampus.leave.TeacherLeaveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.routon.smartcampus.exchangecourse.ExchangeCourseActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.routon.smartcampus.notify.TeacherNotifyListActivity" >
        </activity>
        <activity android:name="com.routon.smartcampus.notify.TeacherNotifyDetailActivity" >
        </activity>
        <activity android:name="com.routon.smartcampus.notify.FamilyNotifyListActivity" >
        </activity>
        
         <activity android:name="com.routon.smartcampus.notify.NotifyIssueActivity" 
             android:windowSoftInputMode="stateHidden"
             android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.routon.smartcampus.notify.NotifyPicPreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
         
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v3" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3" />

        <!-- 【必须】 增强xg_service存活率 -->
        <service
            android:name="com.tencent.android.tpush.service.XGDaemonService"
            android:process=":xg_service_v3" />

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name="com.routon.edurelease.receiver.XGMessageReceiver"
            android:exported="true" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>

                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.routon.edurelease.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.routon.edurelease.AUTH_XGPUSH"
            android:exported="true" />

        <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.routon.edurelease.TPUSH_PROVIDER"
            android:exported="false" />

        <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.routon.edurelease.TENCENT.MID.V3"
            android:exported="true" >
        </provider>

        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100271708" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AV8I93F5VI6J" />
        <!-- 适配全面屏手机 -->
        <meta-data 
            android:name="android.max_aspect"
            android:value="2.1"
            />
        
        <!-- 系统通知的广播回调 -->
	    <receiver 
	        android:name="com.routon.edurelease.receiver.NotificationBroadcastReceiver"
	        android:exported="true" >
	        <intent-filter>
	            <action android:name="notification_cancelled" />
	            <action android:name="notification_clicked" />
	        </intent-filter>
	    </receiver>
    </application>

    <!-- 【必须】 信鸽SDK所需权限 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->

</manifest>